conda create -n bart_absa python==3.7.0
activate bart_absa
pip install -i https://pypi.tuna.tsinghua.edu.cn/simple torch torchvision torchaudio
pip install git+http://gitee.com/fastnlp/fastNLP@dev
pip install git+http://gitee.com/fastnlp/fitlog
pip install transformers==4.4.1
从beiyong.py文件中解决环境问题

ImportError: cannot import name 'default_generator' from 'torch._C' (unknown location)
安装torch时不要指定版本

ModuleNotFoundError: No module named 'numpy.core._multiarray_umath
pip install --upgrade numpy

ModuleNotFoundError: No module named 'regex._regex'
https://github.com/psf/black/issues/1207提到需要更新regex版本 pip install regex==2019.11.1

packaging.version.InvalidVersion: Invalid version: '0.10.1,<0.11'
